<h1>Adopt-a-Pet</h1>
{{#if isLoggedIn}}
  <h2>Welcome, {{user.name}}!</h2>
 
{{/if}}
<h2>About</h2>
<p>In todays San Diego rescue animal market, searching for the right pet for you can be challenging. 
  A lot of the time you find the right pet but the shelter doesn't approve of your unique situation. 
  With Adopt-a-Owner we have flipped the rescue pet search on its head by allowing the rescue 
  pet of your dreams to come to you. Sign up today and wait for your soulmate come to you. 
</p>
{{#unless isLoggedIn}}
  <br />
  <a class='btn' href='/signup'>Sign Up</a>
{{/unless}}


