<h1>Log-in</h1>

<form class='login-form'>
<<<<<<< HEAD
  <div class=""form-group"> 
    <label for='username'>Username</label><br />
    <input type='text' name='username' id='username' /><br />
  </div>
  <div class=" "form group">
    <label for='password'>Password</label><br />
    <input type='password' name='password' id='password' /><br />
  </div>
  <div class="form-group">
    <button class='btn' type='submit'>Submit</button>
  </div>
</form>
=======
 
    <label for='email'>Email</label><br />
    <input type='email' name='email' id='email' /><br />



    <label for='password'>Password</label><br />
    <input type='password' name='password' id='password' /><br />
  

    <button class='btn' type='submit'>Submit</button>
  
</form>


>>>>>>> 7fc0f668df8edb85a1d6f79efcfbbc6b302fd5e6
<p>Don't have an account yet? <a href='/signup'>Sign Up Here</a></p>
<script src='/js/login.js'></script>

