<section class="owners">
  <div class="owners-details">
    <h3>{{owners.name}}</h3>
    <p>Preferred Pet: {{.information}}</p>
    <p>City,State: {{owners.location}}</p>
    <p>Home Type: {{owners.hometype}}</p>
  </div>
</section>