<section class="pets">
  <div class="pets-details">
    <div class="p-20">
      <p>We are still working on our nearby pet search feature.
        <br> 
        For now, please enjoy this random dog pic: </p>
      <img src="https://place.dog/300/200" alt="random placeholder dog picture">
    </div>
  </div>
</section>

