<h1>Signup</h1>
<form class='signup-form'>
  <label for='username'>Username</label><br />
  <input type='text' name='username' id='username' /><br />
  <label for='password'>Password</label><br />
  <input type='password' name='password' id='password' /><br />
  <label for='confirm-password'>Confirm Password</label><br />
  <input type='password' name='confirm-password' id='confirm-password' /><br />
  <!-- User Name-->
  <label for='full-name'>First and Last Name  </label><br />
  <input type='text' name='full-name' placeholder="John Doe" id='full-name' /><br />
   <!-- User Age-->
  <label for='user-age'>What's your age? </label><br />
  <input type='text' name='user-age' placeholder="26" id='user-age' /><br />
  <!-- Desired Pet-->
  <label for='desired-pet'>Desired Pets  </label><br />
  <input type='text' name='desired-pet' placeholder="Cat,Dog,Size" id='desired-pet' /><br />
  <!-- Family Size-->
  <label for='family-size'>Family Size and Type of Home </label><br />
  <input type='text' name='family-size' placeholder="3 Kids, 2 Dogs, Apartment" id='family-size' /><br />
   <!-- Income-->
  <label for='income'>Monthly Income </label><br />
  <input type='text' name='income' placeholder="2,000" id='income' /><br />
  <!-- Bio-->
  <label for='bio'>Tell us about yourself! </label><br />
  <input type='text' size="" name='income' placeholder="Whats your unique situation?" id='bio'> <br />
  <button class='btn' type='submit'>Submit</button>
</form>
<p>Already have an account? <a href='/login'>Login Here</a></p>
<script src='/js/signup.js'></script>
